@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "robotoregular";
}

.omf-style {
  font-family: "shrikhandregular";
  margin-bottom: 15px;
}

hr {
  width: 40px;
  position: relative;
  background-color: #99E2D0;
  border: none;
  height: 3px;
  margin-top: 2px;
  margin-left: 20px;
}

/* PAGES MENU */
.headpages {
  display: flex;
}

.retour {
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
}

.logohead {
  text-align: center;
  width: 100%;
}

.pagesMain {
  background-color: #F2F2F2;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  position: relative;
  z-index: 2;
  margin-top: -125px;
  width: 96%;
  padding-top: 1px;
  padding-left: 2%;
  padding-right: 2%;
}
.pagesMain li {
  list-style-type: none;
}
.pagesMain ul {
  padding: 0;
}
.pagesMain h1 {
  margin-top: 20px;
  margin-left: 20px;
  font-family: shrikhandregular;
}
.pagesMain .titleMenu {
  margin-left: 20px;
}
.pagesMain .titleMain {
  display: flex;
  justify-content: space-between;
}
.pagesMain .titleMain i {
  margin-top: 20px;
  margin-right: 20px;
}

.designLi {
  border: 0px solid white;
  margin: 10px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  overflow: hidden;
  width: 98%;
  transform: rotate(0deg);
}
.designLi:hover .blocLi1 {
  width: 80%;
  transition: 1s;
}
.designLi:hover .blocLi2 {
  width: 20%;
  transition: 1s;
}
.designLi:hover i {
  transform: rotate(360deg);
}
.designLi h3 {
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 2px;
}
.designLi .ellipsis {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.designLi .AlignP {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 15px;
}
.designLi p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.designLi i {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.designLi .blocLi1 {
  width: 100%;
}
.designLi .blocLi2 {
  right: 0;
  width: 0%;
  background-color: #99E2D0;
}

/*DELAY*/
@keyframes delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#entrees {
  animation: delay 1s ease-in-out;
}

#plats {
  animation: delay 3s ease-in-out;
}

#desserts {
  animation: delay 5s ease-in-out;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  margin: 0;
}
footer ul {
  margin: 0;
  list-style-type: none;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer i {
  width: 20px;
}

.button-style {
  border-radius: 20px;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  height: 45px;
  border: 0px solid #9356DC;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
  box-shadow: 4px 4px 10px -3px black;
  transition-duration: 0.4s;
}
.button-style:hover {
  opacity: 0.9;
  box-shadow: 4px 4px 10px 1px black;
}

.commande {
  display: flex;
  text-align: center;
  height: 100px;
  justify-content: center;
}

#logo {
  height: 30px;
  text-align: center;
}

.logoImg {
  width: 150px;
}

.ResImg {
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
  margin: 0px;
  height: 120px;
}

.paletteImg {
  width: 100%;
}

.noteImg {
  width: 100%;
}

.francaiseImg {
  width: 100%;
}

.deliceImg {
  width: 100%;
}

.legImg {
  margin-left: 10px;
  margin-bottom: 10px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.menuImg {
  height: 300px;
  margin: 0;
  overflow: hidden;
  z-index: 1;
}

#head-style {
  background-color: #F2F2F2;
  text-align: center;
}

.darker {
  background-color: #d9d9d9;
}

/*HEART STYLE*/
.heart {
  position: relative;
  top: 23px;
  right: 23px;
  font-size: 27px;
}
.heart:hover {
  opacity: 0%;
}

.heart2 {
  position: absolute;
  top: 142px;
  -webkit-text-fill-color: transparent;
  right: 21px;
  font-size: 30px;
  opacity: 100%;
}
.heart2:hover {
  font-size: 30px;
  color: #FF79DA;
  display: block;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: delay 0.4s ease-in-out;
}
.heart2:hover:hover + .heart {
  opacity: 0;
}

.indexMain {
  background-color: #F2F2F2;
  width: 100%;
}
.indexMain a {
  text-decoration: none;
  color: black;
}
.indexMain h2 {
  margin-left: 10px;
  padding-top: 30px;
}
.indexMain h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.indexMain p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ResUl {
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
}

.ResLi {
  width: 94%;
  border-radius: 15px;
  background-color: white;
  list-style-type: none;
  margin: 10px;
  box-shadow: 4px 4px 10px -3px;
  position: relative;
}

.fonctionnement {
  margin-left: 20px;
}
.fonctionnement li {
  border: 0px solid #F2F2F2;
  border-radius: 15px;
  background-color: #F2F2F2;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  display: flex;
  margin-right: 20px;
  box-shadow: 4px 4px 10px -3px;
}
.fonctionnement li:hover {
  background-color: #e4d5f6;
}
.fonctionnement li:hover :nth-child(0n+2) {
  color: #9356DC;
  opacity: 100%;
}
.fonctionnement ul {
  padding-left: 0;
}
.fonctionnement i {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  display: flex;
  align-items: center;
  opacity: 60%;
}

.number-style {
  position: relative;
  left: -10px;
  border: 0px solid #9356DC;
  background-color: #9356DC;
  color: white;
  border-radius: 48px;
  padding-left: 6px;
  padding-right: 6px;
}

@media (min-width: 769px) {
  .carte {
    display: flex;
    justify-content: space-between;
  }

  .fonctionnement ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .fonctionnement li {
    width: 25%;
  }

  .paletteImg1 {
    width: 100%;
    position: relative;
    top: -320px;
  }

  .enchanteeImg1 {
    width: 100%;
    position: relative;
    top: -645px;
  }

  .francaiseImg1 {
    width: 100%;
    position: relative;
    top: -350px;
  }

  .deliceImg1 {
    width: 100%;
    position: relative;
    top: -370px;
  }

  .ResUL {
    display: flex;
  }

  .pagesMain {
    height: auto;
  }

  .pagesMain ul {
    width: 32%;
  }

  .omf-style {
    position: relative;
    top: 4px;
  }

  footer ul {
    display: flex;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
