
@import 'base/base.scss' ;
@import 'utils/variable.scss' ;
@import 'layouts/default.scss' ;
@import 'components/button.scss';
@import 'components/image.scss';
@import 'pages/index.scss';
@import 'utils/fonction.scss';
@import 'utils/mixins.scss';
@import 'components/slide.scss';


// //LE format tablette
// @media (min-width: 576px) { 

//  }
// //  @media (max-width: 768px) { 

// // }


//  //LE format desktop
@media (min-width: 769px)
{ 
    .carte
    {
        display: flex;
        justify-content: space-between;
    }

    .fonctionnement ul
    {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .fonctionnement li
    {
        width: 25%;
    }

    .paletteImg1
    {
        width: 100%;
        position: relative;
        top: -320px;
    }

    .enchanteeImg1
    {
        width: 100%;
        position: relative;
        top: -645px;
    }

    .francaiseImg1
    {
        width: 100%;
        position: relative;
        top: -350px;
    }

    .deliceImg1 
    {
        width: 100%;
        position: relative;
        top: -370px;
    }

    .ResUL
    {
        display: flex;
    }

    .pagesMain
    {
        height: auto;
    }

    .pagesMain ul
    {
        width: 32%;
    }

    .omf-style
    {
        position: relative;
        top: 4px;    
    }

    footer ul
    {
        display: flex;
        justify-content: space-around;
    }
}