.button-style
{
    border-radius: 20px;
    color: white;
    background: linear-gradient(to bottom, $color-secondary, $color-primary); 
    height: 45px;
    border: 0px solid $color-primary;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    box-shadow: 4px 4px 10px -3px black;
    transition-duration: .4s;

    &:hover
    {
        opacity: 0.9;
        box-shadow: 4px 4px 10px 1px black;
    }

}

.commande
{
    display: flex;
    text-align: center;
    height: 100px;
    justify-content: center;
}