#logo
{
    height: 30px;
    text-align: center;
}

.logoImg
{
    width: 150px;
}

.ResImg
{
    border-radius: 15px 15px 0px 0px;
	overflow: hidden;
	margin: 0px;
	height: 120px;
}

.paletteImg
{
    width: 100%;
}

.noteImg
{
    width: 100%;
}

.francaiseImg
{
    width: 100%;
}

.deliceImg
{
    width: 100%;
}

.legImg
{
    margin-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 1px;
    display: flex;
    justify-content: space-between;
}

.legImg i
{
    position: relative;
    top: 20px;
    right: 20px;
}

.menuImg
{
    height: 300px;
    margin: 0;
    overflow: hidden;
    z-index: 1;
}