@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shrikhandregular';
    src: url('../fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../fonts/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
    margin: 0;
    font-family: 'robotoregular';
}

.omf-style
{
    font-family: 'shrikhandregular';
    margin-bottom: 15px;
}

hr
{
    width: 40px;
    position: relative;
    background-color: #99E2D0;
    border: none;
    height: 3px;
    margin-top: 2px;
    margin-left: 0px;
}