#head-style
{
    background-color: $color-grey;
    text-align: center;
}

.darker
{
    background-color: darken($color-grey, 10%);
}

/*HEART STYLE*/

.heart
{
    position: relative;
    top: 23px;
    right: 23px;
    font-size: 27px;
    
    &:hover
    {
        opacity: 0%;
    }
}

.heart2
{
    position: absolute;
    top: 142px;
    -webkit-text-fill-color: transparent;
    right: 21px;
    font-size: 30px;
    opacity: 100%;

    &:hover
    {
        font-size: 30px;
        color:$color-secondary;
        display: block;
        background: -webkit-linear-gradient($color-secondary,$color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: delay 0.4s ease-in-out;

        &:hover + .heart
        {
            opacity: 0;
        }
    }
}

// .heart3 {
//     position: absolute;
//     top: 0px;
//     -webkit-text-fill-color: transparent;
//     right: 5px;
//     opacity: 100%;

//     &:hover
//     {
//         font-size: 30px;
//         color:$color-secondary;
//         display: block;
//         background: -webkit-linear-gradient($color-secondary,$color-primary);
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         animation: delay 0.4s ease-in-out;
//     }

// }

// .heart4
// {
//     font-size: 27px;
// }

// INDEX 



.indexMain
{
    background-color: $color-grey;
    width: 100%;

    & a
    {
        text-decoration: none;
        color: black;
    }

    & h2
    {
        margin-left: 10px;
        padding-top: 30px;
    }

    & h3
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    & p
    {
          margin-top: 10px;
        margin-bottom: 10px;  
    }
}

.ResUl
{
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
}

.ResLi
{
    width: 94%;
    border-radius: 15px;
	background-color: white;
	list-style-type: none;
	margin: 10px;
	box-shadow: 4px 4px 10px -3px;
    position: relative;
}


// FONCTIONNEMENT

.fonctionnement
{
    margin-left: 20px;

    & li
    {
        border: 0px solid $color-grey;
        border-radius: 15px;
        background-color: $color-grey;
        margin-top: 20px;
        margin-bottom: 20px;
        list-style-type: none;
        display: flex;
        margin-right: 20px;
        box-shadow: 4px 4px 10px -3px;


        &:hover
        {
            background-color: lighten($color-primary,30%);
            :nth-child(0n+2)
            {
                color: $color-primary;
                opacity: 100%;
            }
        }
      
    }

    & ul
    {
        padding-left: 0;
    }

    & i
    {
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
        display: flex;
        align-items: center;
        opacity: 60%;
    }
}

.number-style
{
    position: relative;
    left: -10px;
    border: 0px solid $color-primary;
    background-color: $color-primary;
    color: white;
    border-radius: 48px;
    padding-left: 6px;
    padding-right: 6px;
}