// //LE format tablette
@media (min-width: 576px) 
{ 
    .fonctionnement ul
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fonctionnement li
    {
        width: 45%;
    }

    .ResUl
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }

    .ResLi
    {
        width: 45%;
    }

    .paletteImg1
    {
        position: relative;
        top: -185px;
    }

    .enchanteeImg1
    {
        position: relative;
        top: -385px;
    }

    .francaiseImg1
    {
        position: relative;
        top: -225px;
    }

    .deliceImg1
    {
        position: relative;
        top: -215px;
    }


}
// //  @media (max-width: 768px) { 

// // }


//  //LE format desktop
@media (min-width: 769px)
{ 
    .carte
    {
        display: flex;
        justify-content: space-between;
    }

    .fonctionnement ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .fonctionnement li
    {
        width: 25%;
    }

    .paletteImg1
    {
        width: 100%;
        position: relative;
        top: -320px;
    }

    .enchanteeImg1
    {
        width: 100%;
        position: relative;
        top: -645px;
    }

    .francaiseImg1
    {
        width: 100%;
        position: relative;
        top: -350px;
    }

    .deliceImg1 
    {
        width: 100%;
        position: relative;
        top: -370px;
    }

    .ResUL
    {
        display: flex;
        width: 100%;
    }

    .ResLi
    {
        width: 22%;
    }

    .pagesMain
    {
        height: auto;
    }

    .pagesMain ul
    {
        width: 32%;
    }

    .omf-style
    {
        position: relative;
        top: 4px;    
    }

    footer ul
    {
        display: flex;
        justify-content: space-around;
    }
}