

body{
    color: $myBlue;

    header{
        background-color: red;

        img{
            width: 200px;
        }
    }
}

// body  {
//     color: #5d6c89;
// }
// body header {
//     background-color: red;
// }
// body header img {
//     width: 200px;
// }